.card {
  max-width: 372px;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  gap: 16px;
  opacity: 1; /* Initially invisible */
  box-shadow: var(--shadow);
}

.card:hover .card__image {
  filter: grayscale(0); /* Remove grayscale filter */
}

.card__top {
  position: relative;
}

.card__top .card__image {
  width: 100%;
  height: 100%;
  filter: grayscale(1); /* Add grayscale filter */
  transition: 0.9s;
}

.card__top .card__techs {
  display: flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.card__top .card__techs li {
  display: flex;
  align-items: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
}

.card__bottom {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card__bottom h3,
.card__bottom p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: auto;
  position: relative;
}
.card__bottom h3 {
  -webkit-line-clamp: 1;
}
.card__bottom p {
  -webkit-line-clamp: 3;
}
