.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  text-align: center;
}
.heading h2 {
  max-width: 540px;
}

.heading p {
  max-width: 450px;
}

@media only screen and (max-width: 767px) {
  /* TITLE */
  .heading h2 {
    font-size: 32px;
  }
}

@media only screen and (max-width: 539px) {
  /* TITLE */
  .heading h2 {
    font-size: 28px;
  }
}
