/* -------------- KEYFRAMES ANIMATION -------------- */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Classes de animação */
.slideIn {
  animation: slideIn 0.6s ease-out forwards;
}
.slideLeft {
  animation: slideLeft 0.6s ease-out forwards;
}
.slideRight {
  animation: slideRight 0.6s ease-out forwards;
}

/* Estilos base */
.services__container {
  padding: 80px 0;
  margin: 0 auto;
  /* max-width: 910px; */
  max-width: 1240px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.services__container h2 {
  text-align: center;
  opacity: 0; /* Inicialmente invisível */
}
.services__description {
  opacity: 0; /* Inicialmente invisível */
}
.services {
  display: grid;
  grid-template-columns: repeat(3, 372px);
  gap: 20px;
  opacity: 0; /* Inicialmente invisível */
  /* background-color: red; */

  & img {
    /* transition: 0.5s;
    width: 100%;
    filter: grayscale(1); */
  }
}

@media only screen and (max-width: 768px) {
  .services {
    grid-template-columns: 1fr;
  }
}
