:root {
  /* PRIMARY */
  --primary-color: #000;
  --primary-900: #3d3d3d;
  --primary-800: #454545;
  --primary-700: #4f4f4f;
  --primary-600: #5d5d5d;
  --primary-500: #6d6d6d;
  --primary-400: #888888;
  --primary-300: #b0b0b0;
  --primary-200: #d1d1d1;
  --primary-100: #e7e7e7;
  --primary-50: #f6f6f6;

  /* SECONDARY */
  --secondary-950: #2c2c3f;
  --secondary-900: #434665;
  --secondary-800: #50537d;
  --secondary-700: #5e6297;
  --secondary-600: #6a72a6;
  --secondary-500: #7c87b5;
  --secondary-400: #95a2c5;
  --secondary-300: #b8c1d8;
  --secondary-200: #d5d9e8;
  --secondary-100: #e7eaf2;
  --secondary-color: #eef0f6;

  /* ALTERNATIVE */
  --alternative-color: #db6400;

  /* DEFAULT COLORS */
  --black-color: #000;
  --white-color: #fff;

  /* TEXT */
  --text-color: #2c2d2f;

  /* SHOADOWS */
  --shadow-color: rgba(0, 0, 0, 0.2);
  --overlay: rgba(0, 0, 0, 0.2);

  --bold-gray: #666;
  --light-gray: #b6b6b6;
}
/* -------------- ANIMATIONS -------------- */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-10%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/* -------------- HEADER -------------- */
.header {
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);

  & .logo__img {
    height: 28px;
  }
}
/* --- NAV LIST --- */
.nav__list {
  display: flex;
  gap: 32px;
  font-size: 16px;
}
.nav__list__item {
  display: flex;
  align-items: center;
}

.header .nav__container:nth-child(2) .nav__list__item a {
  color: #27272a;
}
.header .nav__container:nth-child(3) .nav__list__item:last-child {
  display: none;
}
/* --- DROP DOWN --- */
.resources__item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  color: #27272a;
}
.resources__item:hover .dropdown__container {
  display: block;
}
.resources__item .chevron__icon {
  transition: 0.3s ease-in-out;
}
.resources__item:hover .chevron__icon {
  transform: rotate(-180deg);
}
.dropdown__container {
  position: absolute;
  top: 15px;
  right: 0;
  display: none;
  z-index: 10;
  transition: opacity 0.3s ease-in-out;
}
.dropdown {
  margin: 16px 0;
  padding: 8px;
  min-width: 300px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #e7eaf2;
  box-shadow: 0 0 40px var(--shadow-color);
  animation: slideIn 0.3s ease-out;

  & .dropdown__header {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  & li a {
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 8px;
    border-radius: 4px;
    transition: 0.3s;

    &:hover {
      background-color: #eeeef0;
    }
    & span {
      font-size: 15px;
      /* font-weight: 500; */
      padding-top: 4px;
    }
    & small {
      font-size: 14px;
      color: #767681;
      line-height: 1.5;
    }
  }
}

.menu__button {
  width: 44px;
  cursor: pointer;
}
/* -------------- OFFCANVAS -------------- */
.overlay {
  z-index: 11;
  width: 100%;
  background-color: var(--overlay);
  cursor: pointer;
}
.overlay,
.offcanvas__container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
}
.offcanvas__container {
  width: 250px;
  background-color: var(--white-color);
  transition: 0.3s ease-in-out;
  z-index: 100;
  overflow-y: auto;
}
.offcanvas {
  display: flex;
  flex-direction: column;
  padding: 32px 12px;
  gap: 40px;
}
.offcanvas ul {
  display: flex;
  flex-direction: column;
}
.offcanvas ul li {
  display: flex;
  align-items: center;
}
.offcanvas ul li a {
  width: 100%;
  font-size: 20px;
  padding: 14px 0;
  color: #555;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border-bottom: 1px solid var(--light-gray);
}
.offcanvas__header {
  cursor: pointer;

  & img {
    width: 30px;
  }
}
.offcanvas .active {
  /* border-bottom: 1px solid #000; */
}
.mobile__menu__btn {
  width: 100%;
  padding: 12px 24px;
  border-radius: 32px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: 0.3s;
  background-color: #27272a;

  &:hover,
  &:active {
    background-color: #3b3c3f;
  }
}
/* ------------------------ ACCORDION -------------------------------- */
.accordion__container {
  display: flex;
  flex-direction: column;
}
.accordion__header {
  display: flex;
  justify-content: space-between;
}
.accordion__body {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
.accordion__body.open {
  max-height: 1000px; /* Valor grande o suficiente para acomodar o conteúdo */
}
/* -------------------------- */
.accordion__box {
  padding: 0 10px;
  display: flex;
  align-items: center;
}
.accordion__box h6 {
  font-size: 16px;
}
.accordion__box img {
  margin-right: 10px;
}
.chevron {
  transition: transform 0.3s ease; /* Suaviza a rotação da imagem */
}
.chevron.open {
  transform: rotate(180deg); /* Rotaciona a imagem 180 graus */
}
.accordion__body small {
  color: #666;
  display: none;
}

/* --------------------------------------------- */
@media only screen and (max-width: 768px) {
  .nav__menu {
    display: none;
  }

  .nav__list li {
    display: none;
  }

  .header .nav__container:nth-child(3) .nav__list li:last-child {
    display: flex;

    .menu__button {
      display: block;
    }
  }
}
