/* -------------- KEYFRAMES ANIMATION -------------- */
@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/* -------------- CAROUSEL CONTAINER -------------- */
.container {
  padding: 80px 0;
  width: 100%;
  overflow: hidden;
  position: relative;
}
/* TRACK */
.track {
  animation: slideLeft 1.4s ease-out;
  transition: transform 0.1s linear;
  display: flex;
  align-items: center;
  gap: 16px;
  padding-left: 40px;
}
/* CARD */
.card {
  padding: 20px;
  min-width: 400px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 20px;
  box-shadow: 0 0 24px rgba(149, 157, 165, 0.2);
  border: 1px solid #dadadd;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-20px);
  cursor: pointer;
}

/* CARD IMAGE */
.card img {
  border-radius: 16px;
}

/* CARD DESCRIPTION */
.card .description {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* TITLE */
.card .description h3,
.card .description p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: auto;
}

.card .description h3 {
  -webkit-line-clamp: 1;
}

/* CATEGORY */
.card .description h5 {
  color: #db6400;
}

/* TEXT */
.card .description p {
  -webkit-line-clamp: 2;
}

/* STYLES FOR MOBILE SCREENS */
@media only screen and (max-width: 767px) {
  /* CONTAINER */
  .container {
    padding: 40px 0;
  }
  /* ITEM */
  .card {
    min-width: 320px;
    min-height: 320px;
  }
}
