/* import font family */
/* 
primary color: #27272a
primary hover: #3b3c3f

orange-color: #db6400

text color: #2c2d2f

overlay: 0 0 40px rgba(0, 0, 0, 0.2)

*/
:root {
  --primary-color: #27272a;
}
/* ----------------------------------------------------------------------------------------------------------------------- */
/* HELVETICA NEUE */
/* ----------------------------------------------------------------------------------------------------------------------- */

/* UltraLight (100) */
@font-face {
  font-family: "Helvetica-Neue";
  src: url("./assets/font/helvetica-neue/100-UltraLight.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica-Neue";
  src: url("./assets/font/helvetica-neue/100-UltraLight-Italic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* Thin (200) */
@font-face {
  font-family: "Helvetica-Neue";
  src: url("./assets/font/helvetica-neue/200-Thin.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica-Neue";
  src: url("./assets/font/helvetica-neue/200-Thin-Italic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* Light (300) */
@font-face {
  font-family: "Helvetica-Neue";
  src: url("./assets/font/helvetica-neue/300-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica-Neue";
  src: url("./assets/font/helvetica-neue/300-Light-Italic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Normal/Regular (400) */
@font-face {
  font-family: "Helvetica-Neue";
  src: url("./assets/font/helvetica-neue/400-Normal.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica-Neue";
  src: url("./assets/font/helvetica-neue/400-Normal-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Medium (500) */
@font-face {
  font-family: "Helvetica-Neue";
  src: url("./assets/font/helvetica-neue/500-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica-Neue";
  src: url("./assets/font/helvetica-neue/500-Medium-Italic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Bold (600) */
@font-face {
  font-family: "Helvetica-Neue";
  src: url("./assets/font/helvetica-neue/600-Bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica-Neue";
  src: url("./assets/font/helvetica-neue/600-Bold-Italic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* Heavy (700) */
@font-face {
  font-family: "Helvetica-Neue";
  src: url("./assets/font/helvetica-neue/700-Heavy.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica-Neue";
  src: url("./assets/font/helvetica-neue/700-Heavy-Italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Black (900) */
@font-face {
  font-family: "Helvetica-Neue";
  src: url("./assets/font/helvetica-neue/800-Black.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica-Neue";
  src: url("./assets/font/helvetica-neue/800-Black-Italic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
/* ----------------------------------------------------------------------------------------------------------------------- */
/* GLOBAL SETTING */
/* ----------------------------------------------------------------------------------------------------------------------- */
/* Apply box-sizing to all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Body styling */
body {
  font-family: "Helvetica-Neue", sans-serif;
}
/* Header styling */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1.2px;
  letter-spacing: -0.5px;
  color: #3b3c3f;
}
h1 {
  font-size: 52px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 18px;
  font-weight: 500;
}
/* Remove default list styles */
ul {
  list-style: none;
}
/* Remove underline from links */
a {
  text-decoration: none;
}
p {
  line-height: 1.5;
}
/* visible and hidden elements */
.is__visible {
  display: block;
}
.is__hidden {
  display: none;
}
.menu__visible {
  right: 0;
}
.menu__hidden {
  right: -350px;
}

@media only screen and (max-width: 1024px) {
  body {
    padding: 18px;
  }
}

@media only screen and (max-width: 768px) {
  body {
    padding: 12px;
  }
}
